

<h2><%= @coffee.name %></h2>
<h3><%= @coffee.origin %></h3>
<h4>Process: <%= @coffee.process %></h4>
<h4>Grind: <%= @coffee.grind.name %></h4>
<p><%= @coffee.description %></p>



<%= link_to "Back", coffees_path %>


<%= link_to "Edit", edit_coffee_path %>
<%= link_to "Delete", coffee_path(@coffee), method: :delete, data: {confirm: "Are you sure?"} %>

<%= link_to "Create Review", coffee_reviews_path(@coffee) %>
