

          <h2><%= @coffee.name %></h2>
          <h3><%= @coffee.origin %></h3>
          <h4>Process: <%= @coffee.process %></h4>
          <h4>Grind: <%= @coffee.grind.name %></h4>
          <p><%= @coffee.description %></p>



          <% if @coffee.user_id == current_user.id %>

          <%= link_to "Edit", edit_coffee_path, class: "btn btn-custom" %>
          <%= link_to "Delete", coffee_path(@coffee), class: "btn btn-custom", method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>


        <h2>Reviews</h2>
        <p><%= render @coffee.reviews %></p>


          <%= link_to "Create Review", new_coffee_review_path(@coffee), class: "btn-custom2" %>
