

<h2><%= @coffee.name %></h2>
<p><%= @coffee.description %></p>
<p><%= @coffee.process %></p>
<p><%= @coffee.grind %></p>
<p><%= @coffee.origin %></p>

<%= link_to "Edit", edit_coffee_path %>
<%= link_to "Delete", coffee_path(@coffee), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "Create Review", coffee_reviews_path(@coffee) %>
