<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeCollectionRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <% if logged_in? %>

    <nav class="navbar navbar-default", style="background-color: #e3f2fd;">
      <div class="container">
        <div class="navbar-header">

          <%= link_to "Coffee Collection", coffees_path, class: "navbar-brand"%>
        </div>

          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Log Out", logout_path, method: :delete %></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">



              <li class="dropdown show">
                  <a href="#" role="button" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Grinds<span class="caret"</span></a>
                <ul class="dropdown-menu" role"menu">

                  <% Grind.all.each do |grind| %>
                    <li><%= link_to grind.name, coffees_path(grind: grind.name), class: "link"%></li>
                        <% end %>

                    </li>
                </ul>
                <li><%= link_to "Add Coffee", new_coffee_path %></li>
                <li><%= link_to "Origins", coffee_origin_coffees_path %></li>
                <li><%= link_to "Reviewed", reviewed_coffees_path %></li>
                <li><%= link_to "My Collection", users_path %></li>
                    <% end %>
      </div>
    </nav>

          <%= flash[:message] if flash[:message]%>

      <div class="container"
          <%= yield %>
      </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue fixed-bottom">
        <% if current_user.present? %>
        <p class='text-center'>Logged as:<%= current_user.email %></p>
          <% end%>
  <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019          Copyright:CoffeeCollectionRailsApp
        </div>
<!-- Copyright -->

    </footer>

  </body>
</html>
